.grid {
    padding: 3px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    position: fixed;
    top: 0;
    left: 0;

    background: #A0A0A0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 4px;
}

.inactive.onbeat {
    background: #404040;
}

.inactive.offbeat {
    background: #505050;
}

.active.offbeat {
    background: #C0C0C0;
}

.active.onbeat {
    background: #F0F0F0;
}
