.grid {
    padding: 3px;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    position: fixed;
    top: 0;
    left: 0;

    background: #A0A0A0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 4px;
}

.inactive {
    background: #606060;
}

.active {
    background: #D0D0D0;
}